.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar {
  background-color: #33353b;
  font-family: Helvetica;
  font-size: large;
}

#profile {
  height: 100vh;
}


#aboutme {
  height: 100vh;
  position: relative;
  background-color: white;
  left:0;
  right:0;
}

#projects {
  height: 100vh;
}

#skills {
  height: 100vh;
}

.a {
  color: white;
}

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white }

.btn {
  text-decoration: none;
  outline: none;
  padding: 2rem 2rem 2rem 2rem;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
  color: black;
  background-color: white;
  font-size: .7em;
}

#Footer {
  color: white;
  background-color: #33353b;
}

.nav a {
  width: 10%;
  padding: 10px;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  color: white;
}

.navbar-brand {
  color: #d6d6d6;
  margin: 0 15px;
  padding: 10px;
  font-size: 1.5rem;
  left: 20;
  top: 10;
  right: auto;
  bottom: 10;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarLeft {
  padding: 1rem 1rem 1rem 1rem;

}


.navbarRight {
  padding: 1rem 1rem 1rem 1rem;

}
